* {
  box-sizing: border-box;
  transition: .2s color;
}

body {
  background: #FEFDFB;
  color: #8c2b99ff;
  margin: 0;
  font-family: 'Scope One', serif;
}

.hidden {
  display: none;
}

.wrap {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  width: 35vw;
  padding-right: 40px;
}

.nav {
  flex-grow: 1;
}

.nav ul {
  list-style: none;
  background-color: inherit;
  text-align: center;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.nav li {
  line-height: 40px;
  height: 40px;
}

.nav a {
  text-decoration: none;
  color: #8c2b99ff;
  display: block;
}

@media (max-width:800px) {
  .nav a {
    font-size: 12px;
  }
}

.nav a:hover,
.nav a.active {
  color: #2b998c;
}

.title_and_nav {
  display: flex;
  margin-bottom: 20px;
  align-items: baseline;
  position: relative;
}

@media (max-width: 750px) {
  .title_and_nav {
    display: inline;
  }

  .title {
    width: 90vw;
    padding-bottom: 20px;
  }

  .nav {
    margin-bottom: 20px;
  }
}

.nav li {
  border-bottom: none;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  display: inline-block;
  position: relative;
  text-align: left;
  flex-wrap: nowrap;
}

@media (max-width: 1140px) {
  .nav li {
    overflow: visible;
  }
}

@media (max-width: 1010px) {
  .nav li {
    width: auto;
    overflow: visible;
  }
}

@media (max-width: 750px) {
  .nav li {
    font-size: 4.5vw;
  }
}

h1 {
  margin-bottom: 0px;
  color: #8c2b99ff;
  font-size: 4vw;
  font-family: 'Karla', sans-serif;
}

a.logo {
  text-decoration: none;
}

h1:hover {
  color: #2b998c;
}

@media (max-width: 750px) {
  h1 {
    font-size: 11vw;
  }
}

h2 {
  color: #8c2b99ff;
  font-size: 32px;
  font-family: 'Karla', sans-serif;
}

h4 {
  font-style: italic;
  color: #8c2b99ff;
}

.tight {
  margin-top: -15px;
}

@media (max-width: 750px) {
  .tight {
    margin-bottom: 10;
  }
}

p {
  max-width: 600px;
  line-height: 1.5;
  font-size: 1.2rem;
}

a {
  text-decoration: underline;
  color: #8c2b99ff;
  transition: .2s color;
}

a:hover {
  color: #2b998c;
}

.subtitle {
  color: #8c2b99ff;
  font-style: italic;
  font-size: 1.5vw;
  padding-right: 25px;
}

@media (max-width: 750px) {
  .subtitle {
    font-size: 4vw;
  }
}

.all_content {
  display: flex;
}

@media (max-width: 750px) {
  .all_content {
    display: inline-block;
  }
}

.primary_content {
  flex: 3;
  margin-right: 50px;
}

.sidebar {
  flex:1.2;
  padding-left:40px;
  color: #8c2b99ff;
  border-left: 2px solid #EDEDED;
}

@media (max-width: 750px) {
  .sidebar {
    display: none;
  }
}

.sidebar a:hover {
  color: #8c2b99ff;
}

.thumbnail {
  width: inherit;
}

img.thumbnail {
  width: 100%;
}

.sidebar p {
  font-size: 14px;
  line-height: 1.2;
  font-size: 1rem;
}

.post {
  margin-bottom: 40px;
}

.face {
  width: 34vw;
  padding-right: 40px;
  margin: 26.56px 0;
}

@media (max-width: 750px) {
  .face {
    width: auto;
    padding-right: 0;
    margin: 0 auto;
  }
}


.face img {
  max-width: 100%;
  border-radius: 100%;
  border: 5px solid #8c2b99ff;
}

@media (max-width: 750px) {
  .face img {
    width: 90vw;
    max-width: none;
  }
}

.job {
  margin-bottom: 40px;
  border-top: 5px solid #2b998c;
}

.mobile_show {
  display: none;
}
.details-button {
  display: none;
}

.hide {
  display: none;
  color: #8c2b99ff;
  padding-left: 40px;
  font-style: italic;
  cursor: pointer;
}

@media (max-width: 750px) {
  .details {
    display: none;
  }

  .details-button {
    display: inline;
    color: #8c2b99ff;
    padding-left: 40px;
    font-style: italic;
    cursor: pointer;
  }

  .mobile-expand .details {
    display: block;
  }

  .mobile-expand .details-button {
    content: "Hide details";
  }

  .mobile-expand .hide {
    display: inline;
  }

}

.button {
  display: block;
  background-color: #8c2b99ff;
  width: 250px;
  height: 30px;
  padding-top: 5px;
  border-radius: 10px;
  color: #FEFDFB;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
  font-style: normal;
}

.button a {
  text-decoration: none;
}

.contact-block {
  margin-bottom: 30px;
}

.contact-block h3 {
  margin: 5px;
}

.contact-block p {
  margin: 5px;
  font-size: 1rem;
  max-width: inherit;
}

form.contact label, input {
  display: block;
}

form.contact input, textarea {
  margin-bottom: 20px;
  width: 400px;
  min-height: 40px;
}

form.contact input.submit {
    background-color: #8c2b99ff;
    height: 40px;
    padding-top: 5px;
    border-radius: 3px;
    color: #FEFDFB;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    cursor: pointer;
}

.beads-block img {
  width: 90%;
  height: auto;
  margin: 0px 20px;
}

.beads-block {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}


/* ------ Portfolio Block ------ */


.portfolio {
  width: 115%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.portfolio-card {
  width: 350px;
  height: auto;
  background-color: #2c2c2c;
  border-radius: 5px;
  border: 2px solid #8c2b99ff;
  padding: 10px;
  padding-bottom: 70px;
  margin: 10px;
  box-shadow: 1px 1px #FEFDFB;
  position: relative;
}

@media (max-width: 600px) {
  .portfolio-card {
    margin: 0px;
    margin-top: -20px;
    margin-bottom: 50px;
  }
}

.portfolio-card img.portfolio-pic {
  margin: 0px 1px 0px 1px;
  width: 325px;
  height: auto;
}

.portfolio-card h4 {
  color: #FEFDFB;
}

.portfolio-card p {
  color: #FEFDFB;
  margin: 0px;
  margin-top: 10px;
  font-size: 14px;
}

.portfolio-card .call-to-action-button h3 {
  font-size: 14px;
}

.portfolio-card a.call-to-action-button {
  color: #FEFDFB;
  text-decoration: none;
}

.portfolio-card .call-to-action-button:hover {
  background-color: #2b998c;
}

@media (max-width: 600px) {
  .portfolio-card .call-to-action-button {
    width: 40%;
    font-size: 14px;
  }
}

.portfolio-card .call-to-action-button {
  background-color: #8c2b99ff;
  border-radius: 5px;
  padding: 15px;
  padding-bottom: 8px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

/* --- */

footer {
  text-align: center;
  align-items: center;
  background-color: #8c2b99ff;
  margin-top: 60px;
  padding: 20px 0;
  color: #FEFDFB;
  font-size: 1.1rem;
}

footer a {
  text-decoration: underline;
  color: inherit;
}

footer p {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
}

@media (max-width: 750px) {
  footer p {
    display: block;
  }
}

footer a:hover {
  color: #2b998c;
}
