{% extends "base.njk" %}

{% block title %}
  Beads
{% endblock %}

{% block content %}
  <h2>Boss Beads</h2>
  <div class="beads-block">
  <div>
    <p>I create one of kind handmade beaded bracelets for women and girls to express their uniqueness and style.  A portion of the proceeds go directly back into my non profit, <a href="http://forhersake.org" target="_blank">For Her Sake Foundation, Inc</a> to support women experiencing homelessness.</p>
    <p>Please <a href="/contact">contact me</a> if you would like to order a custom bracelet!</p>
  </div>
  <div>
    <img src="/assets/images/bracelet.jpg">
  </div>
</div>

{% endblock %}
