{% extends "base.njk" %}

{% block title %}
  Contact
{% endblock %}

{% block content %}
<div class="contact-block">
  <h2>Contact</h2>
  <h3>Let's grab coffee!</h3>
  <p>I'm always happy to chat with people looking to connect over professional opportunities or activism:</p>
  <p>Email: mkfain1@gmail.com</p>
  <p>Call or text: 610-914-7610</p>
</div>

<div class="contact-block">
  <h3>Connect with Candlewaster:</h3>
  <p><a href="https://notabug.org/candlewaster" target="_blank">View our repos</a></p>
  <p>Email: hello@candlewaster.co</p>
  <p><a href="https://candlewaster.co/" target="_blank">View website</a></p>
</div>

<div class="contact-block">
  <h3>Connect with Liberation Philly:</h3>
  <p><a href="https://www.facebook.com/liberationphilly/" target="_blank">Like us on Facebook</a></p>
  <p>Email: liberationphilly@disroot.org</p>
  <p><a href="http://liberationphilly.org" target="_blank">View website</a></p>
</div>

<div class="contact-block">
  <h3>Connect with Uptwinkles:</h3>
  <p>Email: hello@uptwinkles.co</p>
  <p><a href="http://uptwinkles.co" target="_blank">View website</a></p>
</div>


{% endblock %}
