{% extends "base.njk" %}

{% block title %}
  Home
{% endblock %}

{% block content %}

  <div class="all_content">

    <div class ="face">
      <img src="assets/images/speaking.jpg" alt="Gabriel Grove">
    </div>

    <div class="primary_content">
      <h2>Hello.</h2>
      <p>I'm a grassroots activist with a diverse range of experiences in neuroscience research, non-profit marketing, and web development.</p>

      <p>In 2016, I co-founded <a href="https://candlewaster.co" target="_blank">Candlwaster Web Collective</a>. I also organize <a href="http://liberationphilly.org" target="_blank">Liberation Philadelphia</a>, a <a href="http://uptwinkles.org/" target="_blank">vegan housing co-op</a>, and a <a href="https://uptwinkles.co/rat-sanctuary" target="_blank">microsanctuary</a> for animals rescued from human exploitation.</p>
      <p>I serve on the board of <a href="https://www.speciesrevolution.org" target="_blank">Species Revolution</a>, and am an experienced speaker on a diverse range of topcs related to animal activism.</p>
    </div>

  </div>

{% endblock %}
