{% extends "base.njk" %}

{% block title %}
  Home
{% endblock %}

{% block content %}

  <div class="all_content">

    <div class ="face">
      <img src="assets/images/me.jpg" alt="Gabriel Grove">
    </div>

    <div class="primary_content">
      <h2>Hello.</h2>
      <p>Thank you for taking the time to learn more about me!</p>
      <p>My name is Gabriel Grove and I'm an ambitious, pro-active career seeker making a difference in my community. As a CEO and Founder of my own <a href="http://forhersake.org" target="_blank">non profit organization</a> and <a href="/beads">business</a>, my goals are two-fold--to make a social impact; while living my best life. I'm a creative and motivational writer and beaded jewelry designer. </p>
      <p>As a career changer, I'm passionate about transitioning into the higher education industry with a focus on student affairs and enrollment/recruitment. Throughout my academic journey, I have encountered some of the best advisors and counselors in higher education who inspired me to pursue this career path.</p>
    </div>

  </div>

{% endblock %}
