{% extends "base.njk" %}

{% block title %}
  Volunteer Work
{% endblock %}

{% block content %}

  <h2>Projects, Press, and Publications</h2>
  <div class="all_content">
    <div class="primary_content">
      <div class="portfolio">


        <div class="portfolio-card">
          {# MAKE IMAGES 325x185px!!! #}
          <img class="portfolio-pic" src="/assets/images/animal_voices.jpg">
          <h4>Gabriel Grove from Liberation Philadelphia and King Zoom the Vegan Kid.</h4>
          <p>July, 2018 - Animal Voices Podcast</p>
          <p>"An interview with the first speaker that had me standing on my feet at the Animal Rights Conference. Gabriel Grove from Liberation Philadelphia talks about the power of confrontation for social movements, her vegan journey and her life-changing experience as an animal researcher."</p>
          <h3><a href="http://animalvoices.org/2018/07/mary-kate-fain-from-liberation-philadelphia-and-king-zoom-the-vegan-kid/" class="call-to-action-button" target="_blank">Read More</a></h3>
        </div>

        <div class="portfolio-card">
          {# MAKE IMAGES 325x185px!!! #}
          <img class="portfolio-pic" src="/assets/images/vigil.jpeg">
          <h4>Animal Rights Group Hosts Vigil for Chicken Killed in Truck Crash</h4>
          <p>June, 2018 - VICE</p>
          <p>"“June was named after the main character in The Handmaid’s Tale, who also fled captors by hiding amongst trees,” the organization wrote."</p>
          <p>"Last Wednesday morning, a tractor trailer carrying live chickens to what Purdue Farms euphemistically..."</p>
          <h3><a href="https://munchies.vice.com/en_us/article/8xek3k/animal-rights-group-hosts-vigil-for-chicken-killed-in-truck-crash" class="call-to-action-button" target="_blank">Read More</a></h3>
        </div>

        <div class="portfolio-card">
          {# MAKE IMAGES 325x185px!!! #}
          <img class="portfolio-pic" src="/assets/images/june.jpg">
          <h4>She's a survivor: the story of June the chicken, rescued from a truck crash</h4>
          <p>June, 2018 - WDEL 101.7 FM</p>
          <p>"When you hear about a truck accident involving chickens - not an unusual happening in Delaware - a few questions may come to mind: was anybody hurt?  And how does it affect traffic?"</p>
          <p>"One group wants you to think about something else: the fate of the chickens."</p>
          <h3><a href="https://www.wdel.com/news/the-story-of-june-the-chicken-rescued-from-a-truck/article_534879ca-69d1-11e8-ad5b-bb825e0c1ca0.html" class="call-to-action-button" target="_blank">Read More</a></h3>
        </div>

      <div class="portfolio-card">
        {# MAKE IMAGES 325x185px!!! #}
        <img class="portfolio-pic" src="/assets/images/libby.jpeg">
        <h4>Meet four chickens saved from a slaughterhouse by Philly activists</h4>
        <p>December, 2017 - Philly Inquirer</p>
        <p>"Four chickens are nesting in a South Philadelphia home after being “rescued”  by animal rights activists last week from a Fairhill slaughterhouse."</p>
        <p>"The manager at Saba Halal Live Poultry gave members of the group Philly Farmed Animal Save two birds on Monday and two more on Thursday..."</p>
        <h3><a href="http://www.philly.com/philly/business/real_estate/meet-four-chickens-saved-from-a-slaughterhouse-by-philly-activists-20171224.html" class="call-to-action-button" target="_blank">Read More</a></h3>
      </div>


      <div class="portfolio-card">
        {# MAKE IMAGES 325x185px!!! #}
        <img class="portfolio-pic" src="/assets/images/ratface.jpg">
        <h4>This Animal Rights Activist Reminds Us That Rats Need Rescuing Too</h4>
        <p>June, 2017 - Care2</p>
        <p>"Gabriel Grove organizes nonviolent protests for animal liberation in Philadelphia. And when she’s not engaged in activism, Fain comes home to five rats she’s adopted from a local sanctuary and a lab."</p>
        <p>"In honor of Rat Rescuers’ Day – July 22 — I talked with Fain about her work rescuing rats."</p>
        <h3><a href="https://www.care2.com/causes/this-animal-rights-activist-reminds-us-that-rats-need-rescuing-too.html" class="call-to-action-button" target="_blank">Read More</a></h3>
      </div>
      {#
      <div class="portfolio-card">
        MAKE IMAGES 325x185px!!!
        <img class="portfolio-pic" src="/assets/images/mom_and_litter.jpg">
        <h4>The Dark Truth Behind Animal Testing</h4>
        <p>April, 2017</p>
        <p>My first act of animal activism, unknown to me as such at the time, was quitting my vivsection lab in college and helping it get shut down. Read about my experience in one of the darkest places for animals - a lab.</p>
        <h3><a href="https://www.directactioneverywhere.com/theliberationist/2017/4/4/the-dark-truth-behind-animal-testing" class="call-to-action-button" target="_blank">Read More</a></h3>
      </div> #}

      <div class="portfolio-card">
        {# MAKE IMAGES 325x185px!!! #}
        <img class="portfolio-pic" src="/assets/images/uptwinkles.jpg">
        <h4>Uptwinkles Housing Co-op</h4>
        <p>December, 2016</p>
        <p>An anarchist safe-haven collectively working towards animal liberation, co-founded by my partner and I. This housing co-op centers the voices of women, and aims to provide an open-source communal living framework for communities across the world to replicate.</p>
        <h3><a href="https://uptwinkles.co" class="call-to-action-button" target="_blank">Read More</a></h3>
      </div>

      <div class="portfolio-card">
        {# MAKE IMAGES 325x185px!!! #}
        <img class="portfolio-pic" src="/assets/images/friends.jpeg">
        <h4>To Those I Love Who Still Eat Animals</h4>
        <p>August, 2016</p>
        <p>An open letter to my friends and family on the Liberation Pledge, and why I took it. This piece went viral in 2016, recieving over 10,000 reads across multiple countries. As a follow up, I spoke at the Cleveland Animal Rights Conference in 2018 on effectively using the pledge as a tool for change.</p>
        <h3><a href="https://medium.com/the-philadelphia-liberationist/to-those-i-love-who-still-eat-animals-9f97abdc3523" class="call-to-action-button" target="_blank">Read More</a></h3>
      </div>

      <div class="portfolio-card">
        {# MAKE IMAGES 325x185px!!! #}
        <img class="portfolio-pic" src="/assets/images/tbtn.png">
        <h4>Sex assault survivors speak at Take Back the Night event in Pottstown</h4>
        <p>May, 2015 - The Reading Eagle</p>
        <p>"Take Back the Night is a nonprofit that has spawned international events to help end sexual violence. Gabriel Grove, advocacy coordinator with the YWCA Tri-County Area on King Street, took the lead on organizing Pottstown's first-ever event."</p>
        <h3><a href="http://www.readingeagle.com/news/article/sex-assault-survivors-speak-at-take-back-the-night-event-in-pottstown" class="call-to-action-button" target="_blank">Read More</a></h3>
      </div>

      </div>

    </div>
  </div>


{% endblock %}
