{% extends "base.njk" %}

{% block title %}
  Portfolio
{% endblock %}

{% block content %}

  <h2>Writing, Projects, and Civic Engagement</h2>
    <div class="portfolio">

        <div class="portfolio-card">
          {# MAKE IMAGES 325x185px!!! #}
          <img class="portfolio-pic" src="/assets/images/FHS.png">
          <h4>For Her Sake Foundation, Inc</h4>
          <p><strong>Founder, 2017</strong></p>
          <p>Founded by Gabriel Grove in 2017, who has experienced homelessness as a mother with young children, For Her Sake is focused specifically on the needs of women.</p>
          <p>For Her Sake Foundation, Inc is dedicated to building partnerships with local community members, other like minded and mission driven organization...</p>
          <h3><a href="http://forhersake.org/" class="call-to-action-button" target="_blank">Learn More</a></h3>
        </div>

        <div class="portfolio-card">
          {# MAKE IMAGES 325x185px!!! #}
          <img class="portfolio-pic" src="/assets/images/book_cover.png">
          <h4>For Her Sake: Because Every Woman Has A Story Inside Her</h4>
          <p><strong>by Gabriel Grove, May 2017</strong></p>
          <p>This is a poetic memoir. It's a collection of authentic and empowering words designed for women by a woman. It sheds light on the reality of self-consciousness and the awakening of one's soul. It touches on both the darkness and light within women and how we are all humans woven together perfectly, imperfect.</p>
          <h3><a href="https://smile.amazon.com/Her-Sake-Because-Every-Inside/dp/1546605932/ref=sr_1_3?ie=UTF8&qid=1495809545&sr=8-3&keywords=for+her+sake&sa-no-redirect=1" class="call-to-action-button" target="_blank">Buy the Book!</a></h3>
        </div>

        <div class="portfolio-card">
          {# MAKE IMAGES 325x185px!!! #}
          <img class="portfolio-pic" src="/assets/images/bracelet_thumbnail.jpg">
          <h4>Boss Beads</h4>
          <p><strong>CEO and Creative Director</strong></p>
          <p>Learn about my custom beaded bracelet business!</p>
          <p>A portion of proceeds from Boss Beads go to support For Her Sake Foundation, Inc, my non profit to help women experiencing homelessness.</p>
          <h3><a href="/beads" class="call-to-action-button" target="_blank">Learn More</a></h3>
        </div>

        <div class="portfolio-card">
          {# MAKE IMAGES 325x185px!!! #}
          <img class="portfolio-pic" src="/assets/images/pierce.png">
          <h4>A Resilient Advocate and Hero – Meet Gabriel Grove</h4>
          <p><strong>Pierce Persepctives, Spring 2018, pg 7.</strong></p>
          <p>Gabriel Grove, a 2015 Peirce alumna, has faced some of life’s toughest challenges. But with a resilient and driven spirit, she has achieved more than she ever imagined. </p>
          <p>In 2006, Gabriel was living in a homeless shelter with her children when she took a look around. In the midst of dealing with her own challenges...</p>
          <h3><a href="https://www.peirce.edu/docs/default-source/pdf/peirce-perspectives/spring-2018.pdf" class="call-to-action-button" target="_blank">Read More</a></h3>
        </div>

        <div class="portfolio-card">
          {# MAKE IMAGES 325x185px!!! #}
          <img class="portfolio-pic" src="/assets/images/feeding_homeless.jpeg">
          <h4>What I learned by feeding the homeless</h4>
          <p><strong>by Gabriel Grove, 2018</strong></p>
          <p>For me, homelessness is dear to my heart. I was there over ten years ago, but I lived in a shelter. That’s a huge difference from living on the streets. Three squares a day, a bed, shower and other amenities, but for those on Philly streets these basic needs many of us take for granted are not readily available...</p>
          <h3><a href="https://medium.com/@ggrove775/what-i-learned-by-feeding-the-homeless-b69799e0a198" class="call-to-action-button" target="_blank">Read More</a></h3>
        </div>

        <div class="portfolio-card">
          {# MAKE IMAGES 325x185px!!! #}
          <img class="portfolio-pic" src="/assets/images/students.jpeg">
          <h4>Students Are Starving!</h4>
          <p><strong>by Gabriel Grove, 2018</strong></p>
          <p>Ramen noodles are a staple for most American college students. One may say, it’s even a cultural norm, but what about the students who live off of ramen noodles alone — or worse, nothing at all?</p>
          <p>A while back I read an article here on LinkedIn how Temple University students and faculty established a food bank on campus to combat the epidemic of food insecurity...</p>
          <h3><a href="https://medium.com/@ggrove775/students-are-starving-8310e3403425" class="call-to-action-button" target="_blank">Read More</a></h3>
        </div>

        <div class="portfolio-card">
          {# MAKE IMAGES 325x185px!!! #}
          <img class="portfolio-pic" src="/assets/images/creative.jpg">
          <h4>The Free and Creative Spirit</h4>
          <p><strong>Poem by Gabriel Grove, 2018</strong></p>
          <p>The free and creative spirit</p>
          <p>dances to their own beat</p>
          <p>orchestrating a symphony</p>
          <p>of words and song</p>
          <p>melodious</p>
          <p>...</p>
          <h3><a href="https://medium.com/@ggrove775/the-free-and-creative-spirit-fd5adefc00a7" class="call-to-action-button" target="_blank">Read More</a></h3>
        </div>
  </div>


{% endblock %}
