{% extends "base.njk" %}

{% block title %}
Resume
{% endblock %}

{% block content %}

<h2>Resume</h2>
<div class="all_content">
  <div class="primary_content">
    <div class="resume">

      <div class="job">
        <h3>Founder</h3>
        <h4 class="tight"><a href="http://forhersake.org/" target="_blank">For Her Sake Foundation, Inc.</a> (2017-present)</h4>
        <ul class="details">
          <li>Form network partnerships with organizations who support the homeless population through outreach calls, emails, and meetings. Build vendor relationships in support of events. </li>
          <li>Fundraise donations, recruit volunteers and distribute toiletries to women and children in Philadelphia shelters. Organize initiatives, coordinate dates and heavy communication for event planning. </li>
          <li>Manage administration of non-profit; including fiscal budget, accounts payable/receivable; marketing and operating costs. </li>
          <li>Public speaking engagements to inform, inspire engagement and solicit financial support.</li>
        </ul>
      </div>

      <div class="job">
        <h3>CEO, Creative Director</h3>
        <h4 class="tight"><a href="/beads">Boss Beads</a> (2016 - present)</h4>
        <ul class="details">
          <li>Design and create custom jewelry pieces</li>
          <li>Manage day to day operations of the company including marketing, accounting, and client relationships</li>
        </ul>
      </div>

      <div class="job">
        <h3>Certified Nursing Assistant</h3>
        <h4 class="tight"><a href="/beads">Wesey Enhanced Living</a> (2016 - 2016)</h4>
        <ul class="details">
          <li>Provided clinical care and assisted 8-10 patients daily with grooming, bathing, feeding, dressing and mobilization in a long term care facility. </li>
          <li>Assisted nursing staff and team members with patient load as needed and recorded patients physical, emotional and behavioral health into EHR system.</li>
        </ul>
      </div>

      <div class="job">
        <h3>Quality Business Analyst</h3>
        <h4 class="tight"><a href="https://www.ibx.com/" target="_blank">Independence Blue Cross</a> (2015 - 2018)</h4>
        <ul class="details">
          <li>Reduced group benefit errors by 90%, which positively affected productivity and customer satisfaction.</li>
          <li>Facilitated Onboarding trainings of new employees within department. </li>
          <li>Used critical thinking and problem-solving skills to provide customer- focused service.</li>
          <li>Tracked, processed and analyzed reports by quarterly and yearly intervals. </li>
          <li>Utilized Microsoft Excel, Word and other internal applications to store update and send data to customers.</li>
        </ul>
      </div>

      <div class="job">
        <h3>Customer Service Specialist</h3>
        <h4 class="tight"><a href="https://www.ibx.com/" target="_blank">Independence Blue Cross</a> (2013 - 2015)</h4>
        <ul class="details">
          <li>Made outbound calls to providers, collection agencies, pharmacies, and other facilities to resolve member’s issues</li>
          <li>Helped to meet and exceed departmental goals and metrics</li>
          <li>Handled 75-100 calls, faxes and emails from brokers and members in a fast-paced call center environment</li>
          <li>Provided superior customer service with professionalism and promptness with a team-focused approach</li>
        </ul>
      </div>

      <div class="job">
        <h3>Marketing Operations Specialist</h3>
        <h4 class="tight"><a href="https://www.ibx.com/" target="_blank">Independence Blue Cross</a> (2009 - 2013)</h4>
        <ul class="details">
          <li>Processed and developed new transactions to streamline workflow and improved service.      </li>
          <li>Led new hire training to members on departmental rules, regulations and procedures.</li>
          <li>Created and updated training materials and desk manuals for distribution to the population. </li>
          <li>Enhanced customer relationships by creating desk procedures and concise department goals.</li>
        </ul>
      </div>

      <div class="job">
        <h3>Associate Underwriter</h3>
        <h4 class="tight"><a href="https://www.ibx.com/" target="_blank">Independence Blue Cross</a> (2002 - 2009)</h4>
        <ul class="details">
          <li>Administered business applications and benefits changes for PA, NJ, and DE customers.</li>
          <li>Coached and trained associates on how to process systems and desk procedures.</li>
          <li>Coordinated and collaborated with Sales and Marketing to group set-up and renewal rates.</li>
        </ul>
      </div>

      <div class="job">
        <h3>Underwriting Assistant</h3>
        <h4 class="tight"><a href="https://www.ibx.com/" target="_blank">Independence Blue Cross</a> (2000 - 2002)</h4>
        <ul class="details">
          <li>Composed, edited and distributed reports to upper management regarding various customers.</li>
          <li>Managed and reinforced the daily tasks of small to large accounts for Underwriters.</li>
          <li>Executed administrative tasks in the office: data management, file work and direct request.</li>
        </ul>
      </div>

      <div class="job">
        <h3>Workflow Technician</h3>
        <h4 class="tight"><a href="https://www.ibx.com/" target="_blank">Independence Blue Cross</a> (1998 - 2000)</h4>
        <ul class="details">
          <li>Worked in partnership with teams to successfully complete time-sensitive projects.</li>
          <li>Systematized and dispersed membership paperwork for installation by Enrollment processors.</li>
        </ul>
      </div>


    </div>

  </div>
  <div class="sidebar" id="skills">

    <img class="thumbnail" src="/assets/images/writing.jpeg">

    <h4>Skills</h4>
    <ul>
      <li>Written and Oral Communication</li>
      <li>Documentation Creation</li>
      <li>Public speaking</li>
      <li>Sales and Marketing</li>
      <li>Recruiting</li>
      <li>Creative Writing</li>
      <li>Fundraising</li>
      <li>Customer Service</li>
      <li>Budget Magagement</li>
      <li>Relationship-Building</li>
      <li>"Outside the Box" Thinking</li>
      <li>Training</li>
      <li>Microsoft Office Suite</li>
    </ul>

    <h4>Volunteer Organizations</h4>
    <ul>
      <li>For Her Sake Foundation, Inc</li>
      <li>Patient and Family Advisory Council at Jefferson University</li>
      <li>People's Emergency Center</li>
      <li>Mighty Writers</li>
      <li>Philadelphia Animal Welfare Society</li>
      <li>United Way</li>
    </ul>

    <h4>Education</h4>
    <ul>
      M.S., Higher Education
      Drexel University
      Sept 2018 to 2020
    </ul>

    <ul>
      B.S., Integrated Leadership
      Peirce College
    </ul>

    <ul>
      A.A., Liberal Arts
      Widener University
    </ul>

    <ul>
      Nursing Assistant School
      American Red Cross
      Jan 2016 to April 2016
    </ul>

  </div>
</div>

{% endblock %}
