<!DOCTYPE html>
<html>

  <head>
    <title> {% block title %}{% endblock %} | Gabriel Grove</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
    <script src="https://use.fontawesome.com/1a71674110.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Karla:400i|Scope+One" rel="stylesheet">


      <!-- Meta -->
      <meta name="description" content="Gabriel Grove">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
      <meta name="theme-color" content="#2c2c2c">
      <meta name="msapplication-config" content="/browserconfig.xml">
      <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">


      <!-- Open Graph protocol -->
      <meta property="og:title" content="Gabriel Grove">
      <meta property="og:type" content="website">
      <meta property="og:url" content="http://gabrielgrove.com">
      <meta property="og:image" content="http://gabrielgrove.com/assets/images/face2.jpg">
      <meta property="og:description" content="Gabriel Grove">
      <meta property="og:locale" content="en_US">


  </head>

  <body>
    <div class="wrap">
      <header>
          <div class="title_and_nav">
            <a href="/index.html" class="logo">
              <div class="title">
                <h1>Gabriel Grove</h1>
                <div class="subtitle">"Our greatest contribution to the world is our acts of kindness towards others."</div>
              </div>
            </a>
          <div class="nav">
            <ul>
              <li><a{% if current.source == 'resume' %} class="active"{% endif %} href="/resume">Resume</a></li>
              <li><a{% if current.source == 'portfolio' %} class="active"{% endif %} href="/portfolio">Portfolio</a></li>
              <li><a href="https://www.linkedin.com/in/grovegabriel775/" target="_blank">LinkedIn</a></li>
              <li><a href="http://forhersake.org/" target="_blank">FHS</a></li>
              <li><a href="/contact"><i class="fa fa-email"></i></a></li>
            </ul>
          </div>
        </div>
      </header>

      <div class="content">
        {% block content %}{% endblock %}
      </div>
    </div>

    <footer>
      <div class="footer-links">
        <p><a href="/contact"><i class="fa fa-email"></i>Contact</a> </p>

        <p><a href="https://www.linkedin.com/in/grovegabriel775/" target="_blank">LinkedIn</a> </p>

        <p><a href="https://medium.com/@ggrove775" target="_blank">Medium</a> </p>


        <p><a href="/beads">Boss Beads</a><span class ="mobile_hide"></span></p>
      </div>

      <p class="license">This website is licensed under <a href ="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">GNU GPL</a></p>

    </footer>

  <script src="/assets/main.js"></script>

  </body>
</html>
